/* General page style */

body{
    margin:0;
    font-family: Arial, sans-serif;
    
    /* Background image */
    background-image: url("image/Civilight-eterna.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Dark overlay so text is readable */

body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:-1;
}


/* Main title */

h1{
    text-align:center;
    color:white;
    margin-top:40px;
}


/* Editor box */

.editor{
    background:white;
    width:60%;
    margin:auto;
    padding:25px;
    border-radius:12px;
    min-height:200px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* Slideshow container */

.slideshow{
    width:90%;
    max-width:900px;
    margin:40px auto;
    position:relative;
}

/* Slides */

.slide{
    width:100%;
    height:auto;
    display:none;
    border-radius:12px;
}

/* Title */

h1{
    text-align:center;
    color:white;
    font-size:28px;
    padding:10px;
}

/* Mobile adjustment */

@media screen and (max-width:600px){

h1{
font-size:20px;
padding:10px;
}

.slideshow{
width:95%;
}

}
